<div
  id="app"
  class="row"
>
  <div class="col s3">
    <div id="a"></div>
    <button id="sub_a">-</button>
    <button id="add_a">+</button>
  </div>

  <div class="col s3">
    <div id="b"></div>
    <button id="sub_b">-</button>
    <button id="add_b">+</button>
  </div>

  <div class="col s3">
    <label for="somme">Somme</label>
    <input
      type="number"
      id="somme"
      name="somme"
    >
  </div>

  <div class="col s3">
    <label for="produit">Somme</label>
    <input
      type="number"
      id="produit"
      name="produit"
    >
  </div>

</div>

<template id="user-template">
  <tr>
    <td>
      <button data-index="_" class="del-this">-</button>
    </td>
    <td class="user_id"></td>
    <td class="user_nom"></td>
    <td class="user_prenom"></td>
    <td class="user_age"></td>
  </tr>
</template>


<div
  class="row"
  id="table-ctnr"
>

  <div class="col s3">
    <button id="create">+</button>
  </div>

  <table class="col s12">
    <thead>
      <th>Action</th>
      <th>Index</th>
      <th>Nom</th>
      <th>Prénom</th>
      <th>Âge</th>
    </thead>
    <tbody id="users">

    </tbody>
  </table>
</div>

<script src="/index.js"></script>