<!DOCTYPE html>
<html>

<head>
  <link
    rel="stylesheet"
    href="/index.css"
  >
  </link>
  <title>{{title}}</title>
</head>

<body>
  <h1>{{title}}</h1>
  <p>Développement en cours...</p>
  {{{body}}}
</body>

</html>